.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40; /* Fondo oscuro */
    padding: 10px 20px;
}

.logo {
    flex: 1;
}

.logo-text {
    color: #ffffff; /* Texto blanco */
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición suave */
}

.logo-text:hover {
    color: #007bff; /* Color en hover */
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    color: #110808; /* Texto negro */
    text-decoration: none; 
    transition: color 0.3s ease; /* Transición suave */
}

.nav-menu ul li a:hover {
    color: #007bff; /* Color en hover */
}

.hamburger {
    display: none; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block; /* Mostrar en pantallas pequeñas */
        color: #ffffff; /* Color blanco */
    }

    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 60px; /* Justo debajo del header */
        right: 0;
        background-color: #343a40; /* Fondo oscuro */
        width: 100%; /* Ancho completo */
        display: none; 
    }

    .nav-menu.open {
        display: flex; /* Mostrar cuando esté abierto */
    }

    .nav-menu ul {
        flex-direction: column; /* Colocar elementos en columna */
    }

    .nav-menu ul li {
        margin: 10px 0; /* Espaciado vertical */
    }
}
