.detail-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Limitar el ancho del contenedor */
    margin: auto; /* Centrar el contenedor */
}

.price {
    font-size: 1.5rem;
    color: #28a745; /* Color verde */
    font-weight: bold;
}

.size-selection,
.color-selection {
    margin-bottom: 15px; /* Separa secciones */
}

label {
    font-weight: bold; /* Hacer las etiquetas más destacadas */
}
