/* CartWidget.css */
.cart-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cart-icon-container {
    position: relative;
    margin-right: 15px;
}

.cart-icon {
    color: #007bff;
    transition: transform 0.3s ease;
}

.cart-icon:hover {
    transform: scale(1.2); /* Crece al hacer hover */
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #dc3545; /* Color rojo para el contador */
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
}

.add-to-cart-btn {
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
